body {
  background-color: white;
  margin: 1em;
  border: 0.1em solid #4c4caf;
  font-size: large;
}

div.grid {
  background-color: #4c4caf;
}

nav {
  background-color: black;
  padding: 0.1em;
  /*top menu*/
  /*bottom menu*/
}

nav img.turlututu-small-logo {
  -webkit-filter: blur(0.1em);
          filter: blur(0.1em);
}

nav li.top-menu-button {
  display: inline;
  position: relative;
  left: 0.4em;
  top: 0.2em;
}

nav li.top-menu-button:last-child {
  font-size: 1em;
  float: right;
  margin-right: 0.7em;
}

nav li a.top-menu-button {
  text-decoration: none;
  color: white;
  font-family: "Arial";
  font-size: large;
}

nav li.bottom-menu-button {
  font-family: "Arial";
  display: inline;
  position: relative;
  left: 0em;
  top: 0.2em;
}

nav li.bottom-menu-button a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 0.8em;
  color: white;
  border-left: 0.1em dotted white;
}

nav li.bottom-menu-button:first-child a {
  border-left: none;
}

nav li.bottom-menu-button:nth-last-child(2) a {
  float: right;
  border-left: none;
  margin-top: -3em;
  z-index: 2;
}

nav li.bottom-menu-button:last-child a {
  border-left: none;
  float: right;
  margin-right: -1.5em;
  z-index: 1;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 5em;
  color: white;
  font-size: larger;
}

.grid img.turlututu-large-logo {
  -webkit-filter: blur(0.2em);
          filter: blur(0.2em);
}

.grid-box {
  margin: auto;
}

.grid-box.box1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.grid-box.box2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.grid-box.box3 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.grid-box.box4 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

body p.main-comment {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  margin-left: 3em;
}

.submit {
  background-color: orange;
  border-radius: 0.4em;
  border: 0.4em solide white;
  cursor: pointer;
  color: white;
  padding: 1em;
  font-weight: bold;
}

/*division informations*/
div.flex-table {
  background-color: #4c4caf;
  font-size: large;
  color: white;
}

div.flex-table h2 {
  color: white;
  font-size: larger;
}

div.flex-table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 130%;
}

div.flex-table .col {
  padding-left: 3em;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment-explaination {
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/*division with sponsors*/
div.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ece9e9;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 2em;
  padding-bottom: 2em;
}

/*division with 3 buttons*/
div.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5em;
}

div.bottom .input-bottom-box, div.bottom .input-bottom-box3 {
  border-radius: 0.8em;
  cursor: pointer;
  color: white;
  padding: 0.75em;
  font-weight: bold;
  display: inline;
}

div.bottom .input-bottom-box {
  background-color: blue;
}

div.bottom .input-bottom-box3 {
  background-color: orange;
}
/*# sourceMappingURL=Turlututu.css.map */